<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
	<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <specFlow>
    <unitTestProvider name="NUnit"/>
	<plugins>
      <add name="SpecRun"/>
    </plugins>
  </specFlow>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
		<targets>
			<target name="file" xsi:type="File" fileName="${cached:cached=true:inner=${basedir}/${date:format=yyyy-MM-ddTHH-mm-ss}}.log" layout="${longdate}|${uppercase:${level}}|${message}" />
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="file" />
		</rules>
	</nlog>
  <appSettings>
    <add key="Url" value="https://jsonplaceholder.typicode.com/"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
